beautifulsoup4==4.12.3
dask==2024.2.0
distributed==2024.2.0
duckdb==0.10.0
python-dotenv==1.0.1
pycurl==7.45.4
requests==2.31.0
aiohttp[speedups]==3.9.5
aiofiles==23.2.1
tqdm==4.66.4
pandas>=2.0.0,<3.0.0